<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd"> 
	
	<context:annotation-config/>
	
	
	<bean id="localCache" class="com.mine.core.vo.LocalCache" lazy-init="true" scope="prototype"  init-method="init" destroy-method="destroy" />
	
	<bean id="globalCache" class="com.mine.core.vo.GlobalCache" lazy-init="false" scope="singleton"/>
	
	<bean id="myBean2" class="com.mine.core.impl.MyBizSvcImpl">
		<property name="localCh" ref="localCache" />
		<property name="globalCache" ref="globalCache" />
		<property name="beanName" value="Testing" />
		<property name="myDao" ref = "myDao"/>
	</bean>
	
	<bean id="myBean" class="com.mine.core.impl.MyBizSvcImpl">
		<property name="localCh" ref="localCache" />
		<property name="globalCache" ref="globalCache" />
		<property name="beanName" value="Testing" />
		<property name="myDao" ref = "myDao"/>
	</bean>
	
	<bean id = "myDao" class="com.mine.core.impl.MyDaoImpl"></bean>
	<bean id = "myFas" class="com.mine.core.impl.MyFasImpl">
		<property name="name" value="test" />
	</bean>
	
	<bean id = "urFas" class="com.mine.core.impl.UrFasImpl">
	</bean>
	
	<bean id = "httpFas" class="com.mine.core.HttpFactoryBean">
		<property name="url" value="http://www.test.com" />
	</bean>
	
	<import resource="fasAdvice.xml"/>
</beans>